{{ $scr := .Scratch }}

{{ partial "head/meta/main" . }}
{{ partial "jsonld" }}
<link rel="canonical" hreflang="en" href="{{.Permalink}}">
<link rel="manifest" href="{{`index.webmanifest`|relURL}}">
<link rel="icon" type="image/png" href="{{(partial `functions/get_icon` 32).RelPermalink}}">
<link rel="apple-touch-icon" type="image/png" href="{{(partial `functions/get_icon` 192).RelPermalink}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


{{ partial "assets/js/head" . }}
{{ partial "assets/css" . }}

    